/* line 1, card.scss */
.card {
  position: relative;
  width: 200px;
  height: 450px;
  margin: 5px;
  border: 1px solid #eee;
  float: left;
  clear: none;
}
@media only screen and (max-width: 640px) {
  /* line 12, card.scss */
  .card {
    width: 100%;
    height: 100%;
  }
}
/* line 18, card.scss */
.card .header {
  margin: 0;
  width: 100%;
  height: 60%;
  text-align: center;
  padding-top: 50%;
  font-size: 1.8em;
  font-weight: 800;
}
/* line 28, card.scss */
.card .freeze {
  width: 100%;
  height: 30%;
  padding-top: 30%;
  text-align: center;
  background: transparent;
}
/* line 35, card.scss */
.card .freeze.frozen {
  background: #eee;
}
/* line 40, card.scss */
.card .category {
  color: #999;
  font-size: 1.4em;
  font-weight: 800;
  height: 10%;
  width: 100%;
}
