/* line 4, card.scss */
.card {
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 450px;
  margin: 1em;
  border: 1px solid #999;
  border-radius: 1em;
  float: left;
  clear: none;
}
@media only screen and (max-width: 640px) {
  /* line 18, card.scss */
  .card {
    padding: 0;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    width: 96%;
    height: 96%;
  }
}
/* line 29, card.scss */
.card .header {
  margin: 0;
  width: 100%;
  height: 60%;
  text-align: center;
  padding-top: 50%;
  font-size: 1.8em;
  font-weight: 800;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -kthtml-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 46, card.scss */
.card .header:hover {
  box-shadow: 0px 5px 20px rgba(120, 120, 120, 0.8) inset;
}
/* line 51, card.scss */
.card .freeze {
  width: 100%;
  height: 30%;
  padding-top: 20%;
  text-align: center;
  background: transparent;
  color: #eee;
  font-size: 1.8em;
  font-weight: 800;
}
/* line 61, card.scss */
.card .freeze.frozen {
  color: white;
  background: #eee;
}
/* line 67, card.scss */
.card .category {
  color: #999;
  padding: 2%;
  font-size: 1.4em;
  font-weight: 800;
  height: 10%;
  width: 100%;
}
